.cabecalho {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	margin: 0px 0px 20px 0px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.autoAtendimento {
	text-align: right;
	color: rgba(0, 0, 0, 0.3);
	font-family: Arial;
	font-size: 22px;
}

.login {
	background-color: white;
	width: 300px;
	height: 390px; 
	margin: 60px auto;
	padding: 0px 0px 0px 0px;
	border-radius: 9px;
	border: 1px solid rgba(0, 85, 170, 0.68);
}

.titulo{
	background: rgba(0, 85, 170, 0.78);
	border-radius: 8px 8px 0px 0px;
	color: white;
}

.titulo h1 {
	margin: 0;
	font-size: 18px;
	font-family: Arial;
	padding: 10px;
}

.nome {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.1);
	padding: 10px 1px 10px 1px;
	border-radius: 6px;
	border: 1px solid rgba(197, 197, 197, 0.68);
}

form {
	text-align: center;
}

.btn1 {
	font-size: 18px;
	color: white;
	background: orange;
	border: none;
	padding: 9px 20px 9px 20px;
}

.btn2 {
	font-size: 16px;
	color: orange;
	background: white;
	border: 1px solid orange;
	padding: 9px 20px 9px 20px;

}

.btn3 {
	font-size: 20px;
	color: white;
	background: rgba(0, 85, 170, 0.78);
	border: 1px solid white;
	padding: 5px 95px 5px 95px;
	border-radius: 8px;
}

.sombra {
	box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.8);
}

a {
	font-family: Arial;
	text-decoration: none;
}
