@import url('https://fonts.google.com/css?family=Poppins:400,500,600,700&display=swap');
/*COR DA PAGINA*/
html,body{
background-color: rgb(28,28,28);


}
/*FONTES DA PAGINA*/
h1,h5,span,p{
	color: black;
	font-family: 'Lobster', cursive; 
}
/*CLASSE DA FONTE*/
.display-4{
	color: white;
	font-family: 'Lobster', cursive;
}

/*CLASSE DA FONTE*/
.lead{
	color: white;
	font-family: 'Lobster', cursive;
}
}
/*JUMBOTROM DA PAGINA*/
.jumbotron{
	background-color: rgb(169,169,169);
	margin: 0, auto;
	padding: 10px;
	margin-top: 10px;
	/*margin-right: 100px;
	margin-left: 100px;*/

}
/*EFEITO ZOOM NAS IMAGENS*/
.zoom {
overflow: hidden;
}


.zoom2 img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  
}
.zoom2:hover img {
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform: scale(1.1);
  
  
}
/*EFEITO HOVER DO BOTÂO*/
.btn a{
position:relative;
display: block;
height: 70px;
width: 220px;
background:linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
text-align: center;
border-radius: 10px;
}
.btn a span{
    height: 88%;
    width: 96%;
    background: #111;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 62px;
    color: #f5f5f5;;
    font-size: 25px;
}

.btn a:hover{
    animation: animate 0.4s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(-360deg);
    }
}
